.b-wrap .top {
    font-size: 14px;
}
.b-wrap .bot {
    font-size: 18px;
}

.t-nav>li>a,  .t-nav>div>li>a {
    font-size: 16px;
}

.element-price__min {
    font-size: 12px!important;
}

.copy {
    padding: 0!important;
}
/*developer link*/
a.footer__developers-link {
    color: white!important;
}

a.footer__developers-link:hover {
    color: white!important;
    text-decoration: underline;
}
